/*This is my css File*/

body {
    background-color: #aad4cf;
    font-family:Arial, Helvetica, sans-serif
    }

header{
    width: 1022px;
    height: 342px;
    overflow: hidden;
    background-color: pink;
    border: 1px solid #000000;
    border-bottom:none;
    margin: 0 auto;
    position: relative;
    top: 0;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    width: 100%;
    text-align: center;
    top: 180px;
    position: absolute;
    }

.Box {
    background: #d4e9e7;
    width: 1022px;
    margin: auto;
    font-weight: bold;
    }

nav ul {
    display: inline;
    margin: 0; padding: 0;
    text-align: center;
   }

nav ul li {
    display: inline;
    margin: 0; padding: 0;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    margin: 0; padding: 0;
    text-align: center;
    width: 300px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

h2 {
    font-size: 27px;
    width:500px;
    margin: 5px;
}

.long {
    margin: 8px;
}

.just {
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 200px;
}

.copyright {
    text-align: right;
    margin: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

.Box2 {
    margin: 10px
}

.shape {
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    color: none;
}

h3 {
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}

h4 {
    margin: 5px;
    font-size: 25px;
}

.apple {
    width:950px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banana {
    width: 950px;
    height: 100px;
    margin-top: 5px;
}

h5 {
    font-size: 20px;
}